<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Todo List</title>

  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />


</head>

<body>
  <nav class="orange darken-2">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">ToDo List</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div class="col s10 m7" id="app">


    <div class="row">
      <form class="col s4 offset-s4">
        <div class="card horizontal " v-for="task in tasks">
          <div class="card-stacked">
            <div class="card-content">
              <h3>{{task.nome}}</h3>
              <p>Modelo: {{task.modelo}}</p>
              <p>{{task.id}}</p>
              <button @click="deleteTask(task.id)">Apagar Task</button>
              <a @click="updateTask(task.id)" class="waves-effect waves-light btn">Atualizar task</a>
            </div>
            <div class="card-action">
              <a href="#"></a>
            </div>
          </div>
        </div>
    </div>
    </form>
    <div class="row">
      <h4 class="col s4 offset-s4">Adicionar Tarefa</h4>
      <form class="col s4 offset-s4">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" v-model="creatingTask.nome">
            <label for="email">Nome:</label>
            <span class="helper-text" data-error="wrong" data-success="">Digite o nome aqui...</span>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <form class="col s4 offset-s4">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" v-model="creatingTask.modelo">
            <label for="email">Modelo</label>
            <span class="helper-text" data-error="wrong" data-success="">Digite o modelo aqui...</span>
          </div>
        </div>
        <!-- <button class="col s4 offset-s4" @click="createTask()">Criar Task</button> -->
        <a class="btn-floating btn-large waves-effect waves-light red" @click="createTask()"><i class="material-icons">+</i></a>


      </form>
    </div>
  </div>


  <!-- Materialize JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./js/crud.js"></script>

  <script>
  </script>
</body>

</html>